.margin-0-auto {
  margin: 0 auto !important;
}
.color-ff385c {
  color: #ff385c !important;
}
input[type='date']::-webkit-calendar-picker-indicator {
  color: #008489 !important;
}
::-webkit-calendar-picker-indicator {
  
  color: rgba(0, 0, 0, 0) #7e7e7e;
  opacity: 1;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle stroke='%23008489'%3ELayer 1%3C/title%3E%3Cpath stroke='%23008489' fill='%23008489' id='Fill-133' d='m49.444358,54.311284l-35.2,0c-2.4,0 -4.4,-2 -4.4,-4.4l0,-32.3c0,-2.4 1.6,-4.4 3.7,-4.4l2.2,0l0,2.9l-2.2,0c-0.3,0 -0.7,0.6 -0.7,1.5l0,32.3c0,0.8 0.7,1.5 1.5,1.5l35.2,0c0.8,0 1.5,-0.7 1.5,-1.5l0,-32.3c0,-0.9 -0.5,-1.5 -0.7,-1.5l-2.2,0l0,-2.9l2.2,0c2,0 3.7,2 3.7,4.4l0,32.3c-0.2,2.4 -2.2,4.4 -4.6,4.4' class='st0'/%3E%3Cpath stroke='%23008489' fill='%23008489' id='Fill-134' d='m20.144358,19.111284c-0.8,0 -1.5,-0.7 -1.5,-1.5l0,-5.9c0,-0.8 0.7,-1.5 1.5,-1.5s1.5,0.7 1.5,1.5l0,5.9c-0.1,0.8 -0.7,1.5 -1.5,1.5' class='st0'/%3E%3Cpath stroke='%23008489' fill='%23008489' id='Fill-135' d='m43.544358,19.111284c-0.8,0 -1.5,-0.7 -1.5,-1.5l0,-5.9c0,-0.8 0.7,-1.5 1.5,-1.5s1.5,0.7 1.5,1.5l0,5.9c0,0.8 -0.7,1.5 -1.5,1.5' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='24.544358804821968,13.211277961730957 39.14435727894306,13.211277961730957 39.14435727894306,16.21127700805664 24.544358804821968,16.21127700805664 ' id='Fill-136' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='12.899999618530273,21.70001220703125 51.10000038146973,21.70001220703125 51.10000038146973,24.70001220703125 12.899999618530273,24.70001220703125 ' id='Fill-137' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='45.04435880482197,27.91128921508789 47.94435651600361,27.91128921508789 47.94435651600361,30.811283111572266 45.04435880482197,30.811283111572266 ' id='Fill-138' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='39.14435727894306,27.91128921508789 42.14435727894306,27.91128921508789 42.14435727894306,30.811283111572266 39.14435727894306,30.811283111572266 ' id='Fill-139' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='33.344358041882515,27.91128921508789 36.24435956776142,27.91128921508789 36.24435956776142,30.811283111572266 33.344358041882515,30.811283111572266 ' id='Fill-140' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='27.44435842335224,27.91128921508789 30.344358041882515,27.91128921508789 30.344358041882515,30.811283111572266 27.44435842335224,30.811283111572266 ' id='Fill-141' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='21.544358804821968,27.91128921508789 24.544358804821968,27.91128921508789 24.544358804821968,30.811283111572266 21.544358804821968,30.811283111572266 ' id='Fill-142' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='45.04435880482197,33.5 47.94435651600361,33.5 47.94435651600361,36.399993896484375 45.04435880482197,36.399993896484375 ' id='Fill-143' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='39.14435727894306,33.5 42.14435727894306,33.5 42.14435727894306,36.399993896484375 39.14435727894306,36.399993896484375 ' id='Fill-144' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='33.344358041882515,33.5 36.24435956776142,33.5 36.24435956776142,36.399993896484375 33.344358041882515,36.399993896484375 ' id='Fill-145' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='27.44435842335224,33.5 30.344358041882515,33.5 30.344358041882515,36.399993896484375 27.44435842335224,36.399993896484375 ' id='Fill-146' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='21.544358804821968,33.5 24.544358804821968,33.5 24.544358804821968,36.399993896484375 21.544358804821968,36.399993896484375 ' id='Fill-147' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='15.744357660412788,33.5 18.644359186291695,33.5 18.644359186291695,36.399993896484375 15.744357660412788,36.399993896484375 ' id='Fill-148' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='45.19999980926514,39.29998779296875 48.10000038146973,39.29998779296875 48.10000038146973,42.29998779296875 45.19999980926514,42.29998779296875 ' id='Fill-149' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='39.14435727894306,39.29998779296875 42.14435727894306,39.29998779296875 42.14435727894306,42.29998779296875 39.14435727894306,42.29998779296875 ' id='Fill-150' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='33.344358041882515,39.29998779296875 36.24435956776142,39.29998779296875 36.24435956776142,42.29998779296875 33.344358041882515,42.29998779296875 ' id='Fill-151' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='27.44435842335224,39.29998779296875 30.344358041882515,39.29998779296875 30.344358041882515,42.29998779296875 27.44435842335224,42.29998779296875 ' id='Fill-152' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='21.544358804821968,39.29998779296875 24.544358804821968,39.29998779296875 24.544358804821968,42.29998779296875 21.544358804821968,42.29998779296875 ' id='Fill-153' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='15.744357660412788,39.29998779296875 18.644359186291695,39.29998779296875 18.644359186291695,42.29998779296875 15.744357660412788,42.29998779296875 ' id='Fill-154' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='39.30000019073486,45.20001220703125 42.30000019073486,45.20001220703125 42.30000019073486,48.100006103515625 39.30000019073486,48.100006103515625 ' id='Fill-155' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='33.5,45.20001220703125 36.40000009536743,45.20001220703125 36.40000009536743,48.100006103515625 33.5,48.100006103515625 ' id='Fill-156' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='27.59999990463257,45.20001220703125 30.5,45.20001220703125 30.5,48.100006103515625 27.59999990463257,48.100006103515625 ' id='Fill-157' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='21.699999809265137,45.20001220703125 24.699999809265137,45.20001220703125 24.699999809265137,48.100006103515625 21.699999809265137,48.100006103515625 ' id='Fill-158' class='st0'/%3E%3Cpolygon stroke='%23008489' fill='%23008489' points='15.899999618530273,45.20001220703125 18.800000190734863,45.20001220703125 18.800000190734863,48.100006103515625 15.899999618530273,48.100006103515625 ' id='Fill-159' class='st0'/%3E%3C/g%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 0.5rem;
}
::-webkit-calendar-picker-indicator:hover {
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);
}
.color-008489 {
  color: #008489 !important;
}
.bgcolor-ff385c {
  background-color: #ff385c !important;
}
.bgcolor-008489 {
  background-color: #008489 !important;
}
.border-008489 {
  border-color: #008489 !important;
}
.clickable {
  cursor: pointer !important;
}
.placehold {
  top: -1.8rem;
  width: 174px !important;
}
.aplacehold {
  top: -1.8rem;
}
.width-185 {
  width: 185px !important;
}
/* .quart {
  background: rgb(255, 255, 255, 0.25) !important;
  -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.befdemi {
  background: rgb(255, 255, 255, 0.5) !important;
  -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}
.aftdemi {
  background: rgb(255, 255, 255, 0.75) !important;
  -webkit-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
} */
.end {
  background: rgb(255, 255, 255, 1) !important;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}
.none-outline {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}
.date-input input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  height: 40px !important;
  background: transparent !important;
  font-size: 14px;
  width: 185px !important;
  font-weight: 600;
  cursor: pointer;
}
.date-input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.semibold-14px {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.semibold-15px {
  font-size: 15px !important;
  font-weight: 600 !important;
}
.semibold-16px {
  font-size: 16px !important;
  font-weight: 600 !important;
}
